.menu-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #dee2e6;
  position: relative;
}

.logo img {
  height: 33px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: block; /* elimina espacios en línea que generan gaps verticales */
}

.logo-sispoi-mobile {
  display: none !important; /* Oculto por defecto en desktop */
  height: 33px;
}


.system-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  .logo-sispoi {
      max-width: 100%; // Ajusta el ancho del logo central
      height: 45px; // Ajusta la altura del logo central
      // filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
  }
}

.menu-actions {
  display: flex;
  align-items: center;
  gap: 0.2rem;  /* esto ya crea separación entre botones */
  flex: 0 0 auto;
}


.menu-actions button {
  background-color: white;
  color: var(--primary);
  border: none;
  border: 1px solid transparent;
}

.menu-actions button:hover {
  background-color: var(--primary);
  color: white;
  border: 1px solid white;
}

.p-button-text {
  max-height: 34px;
}

@media (max-width: 768px) {

  .logo-essalud {
    display: none !important; /* Ocultar logo EsSalud en móviles */
  }

  .logo-sispoi-mobile {
    display: block !important; /* Mostrar logo SISPOI en la posición izquierda en móviles */
    height: 35px;
    // filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
  }

  .system-name {
    display: none; /* Ocultar logo central en móviles */
  }

  .logo img {
    height: 25px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: block; /* elimina espacios en línea que generan gaps verticales */
  }
  
}

.password-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 210px;
  max-height: 210px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.password-field {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.2rem;
}
.password-label {
  width: 100%;
  margin-bottom: 0.3rem;
  font-weight: 500;
  text-align: left;
}
.password-input {
  width: 100%;
}
.password-error {
  width: 100%;
  text-align: center;
  color: red;
}

// Centrar los botones del footer del modal
.p-dialog-footer {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 1rem;
  width: 100%;
}